body {
    font-family: 'Open Sans Condensed';
    padding: 20px 50px;
}

a {
    text-decoration: none;
    color: black;
}

* { 
    box-sizing: border-box; /*getting rid off extra padding which browsers add automatically. This is for input field boxes in this case. Check end of lecture 88. */
}